{% extends 'User/base.html' %}


{% block content %}

    

    <br>
    <br>
    <br>
    <form  method="POST">
          {% csrf_token %}
          

          <div  class="container align-self-center">
          <div  class="row justify-content-center">
            <div class="form-group col-5">
              <br>
              <br>
              <br>
              <br>

              <div class="text-center">
                <font size="5">  <label>  <b>PROJECT</b></label> </font>
                </div>
                <br>
                {% if messages %}
                  <div class="text-danger">
                    {% for message in messages %}

                      <div  class="container align-self-center">
                        <div  class="row justify-content-center">
                

                          <label>  <b>{{ message }}</b></label>
                          
                        </div>
                      </div>
               
                    {% endfor %}
                  </div>
                {% endif %}
                <br>
               
                <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Username">
                <br>
                <input type="password" class="form-control" name="password" placeholder="Password" value="7Miyemedimi">
                 <br>
                 <p> <a href="{% url 'register-page' %}"><b>Don't have account</b></a></p>
                 
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
              </div>
           </div>
           
                     
                
          </div>
          
        </form>

        
{% endblock %}